@model IEnumerable<WebApp.Models.State>

@{
    ViewData["Title"] = "States";
}

<div class="text-center">
    <h1 class="display-4">United Estates of America</h1>
    <img src="images/usa-map.jpg" alt="Map of the USA" width="100" height="auto">
</div>
<div class="description">
    <p>
        The United States of America (USA) has 50 states. It is the second largest country in North America
        after Canada (largest) and followed by Mexico (third largest). The U.S. has 50 states, a federal
        district, and five territories. Here is a list of the 50 states.
    </p>
</div>
<button >
    <a asp-area="" asp-controller="States" asp-action="Index">See all States</a>
</button>
<button>
    <a asp-area="" asp-controller="Landmarks" asp-action="Index">Landmarks</a>
</button>
