@model WebApp.Models.State

<div class="modal fade" id="patchModal" tabindex="-1" aria-labelledby="patchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="patchModalLabel">Patch State of @Model.StateName</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="PatchState" method="post">
            <div class="modal-body">
                    <input type="hidden" name="StateName" value="@Model.StateName" />

                    <div class="mb-3">
                        <label for="Capital" class="form-label">Capital</label>
                        <input type="text" class="form-control" name="Capital" value="@Model.Capital" />
                    </div>
                    <div class="mb-3">
                        <label for="Population" class="form-label">Population</label>
                        <input type="number" class="form-control" name="Population" value="@Model.Population" />
                    </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-warning">Submit Patch</button>
            </div>
            </form>
        </div>
    </div>
</div>
